@import "tailwindcss";

:root {
	--background: #171717;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: xx-large;
	font-weight: bold;
	color: #ffe2e2;
}

h2 {
	font-size: x-large;
	color: #ffe2e2;
}
